* { box-sizing: border-box; }

body {
  background-color: black;
}

.box {
  width: 1830px;
height: 930px;
border: thin solid black;
position: relative;
overflow: hidden;
border-radius: 5px;
background-color: #c9f4ff;
margin: 0 auto;
}

.cohete {
  width: 500px; /* El sprite está formado por 24 frames de 210px x24 = 5040px */
  height: 168px;
  background: url("images/cohete.png");
  position: absolute;
  top: 20px;
  left: 600px;
  transform: scale(0.9, 0.9);
  animation: cohete 4s steps(32) infinite; /* El número de steps es igual al número de frames */
}
.plane {
  width: 476px; /* El sprite está formado por 24 frames de 210px x24 = 5040px */
  height: 172px;
  background: url("images/plane.png");
  position: absolute;
  top: 100px;
  animation: plane 2s steps(35) infinite; /* El número de steps es igual al número de frames */
}

.birds {
  width: 803px; /* El sprite está formado por 24 frames de 210px x24 = 5040px */
  height: 387px;
  background: url("images/birds.png");
  position: absolute;
  top: 150px;
  left: 250px;
  transform: scale(0.4, 0.4);
  animation: birds 0.4s steps(4) infinite; /* El número de steps es igual al número de frames */
}

.boat {
  width: 480px; /* El sprite está formado por 24 frames de 210px x24 = 5040px */
  height: 480px;
  background: url("images/boat.png");
  position: absolute;
  bottom: -65px;
  transform: scale(0.5, 0.5);

  animation: boat 1s steps(5) infinite; /* El número de steps es igual al número de frames */
}

.dolphin {
  width: 720px; /* El sprite está formado por 24 frames de 210px x24 = 5040px */
  height: 574px;
  background: url("images/dolphin.png");
  position: absolute;
  bottom: -60px;
  left: 500px;
  transform: scale(0.5, 0.5);

  animation: dolphin 3s steps(36) infinite; /* El número de steps es igual al número de frames */
}

.water {
  background: url("images/water.png");
  width: 2000px;
  height: 260px;
  position: absolute;
  bottom: 0;
  left: 0;

  animation: move 5s steps(1000) infinite forwards;
}

.cloud1 {
  background-image: url("images/cloud1.png");
  width: 512px;
  height: 512px;
  top: -300px;
  right: 0px;
  position: absolute;
  margin-right: -180px;
  transform: scale(0.5, 0.5);
  animation: slide-left 6s steps(1000) infinite forwards,
             down-up 10s steps(1000) infinite forwards;

}
.cloud2 {
  background-image: url("images/cloud2.png");
  width: 512px;
  height: 512px;
  top: -150px;
  right: 0px;
  position: absolute;
  margin-right: -180px;
  transform: scale(0.5, 0.5);

  animation: slide-left 12s steps(1000) infinite forwards,
             down-up 13s steps(1000) infinite forwards;
}
.cloud3 {
  background-image: url("images/cloud3.png");
  width: 512px;
  height: 512px;
  top: -50px;
  right: 0px;
  position: absolute;
  margin-right: -180px;
  transform: scale(0.5, 0.5);

  animation: slide-left 16s steps(1000) infinite forwards,
             down-up 9s steps(1000) infinite forwards;
}
.cloud4 {
  background-image: url("images/cloud4.png");
  width: 512px;
  height: 512px;
  top: 1px;
  right: 0px;
  position: absolute;
  margin-right: -180px;
  transform: scale(0.5, 0.5);

  animation: slide-left 9s steps(1000) infinite forwards,
             down-up 16s steps(1000) infinite forwards;
}


@keyframes cohete {
  100% {
    background-position: -16000px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}

@keyframes plane {
  100% {
    background-position: -16660px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}

@keyframes dolphin {
  100% {
    background-position: -25920px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}

@keyframes birds {
  100% {
    background-position: -3212px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}

@keyframes boat {
  100% {
    background-position: -2400px;
    } /* El desplazamiento del background debe ser igual a lo que mide el sprite completo */
}

@keyframes move {
  100% { background-position: -1000px 0px; }
}

@keyframes slide-left {
  100% { margin-right: 1700px; }
}
@keyframes down-up {
  50% { margin-top: 200px;}
  100% { margin-top: 0px; }
}
